// ======================================================================================
//  Global color variables.
// ======================================================================================



$brand-primary-lighter:                         #0404fc !default;
$brand-primary-light:                           #0000c0 !default;
$brand-primary:                                 #000099 !default;
$brand-primary-dark:                            #00007a !default;
$brand-primary-darker:                          #000058 !default;

$brand-secondary-lighter:                       #ffa764 !default;
$brand-secondary-light:                         #ff8f39 !default;
$brand-secondary:                               #ff6e00 !default;
$brand-secondary-dark:                          #c65600 !default;
$brand-secondary-darker:                        #9b4300 !default;

$brand-tertiary-lighter:                        #d2f6e2 !default;
$brand-tertiary-light:                          #a0e5be !default;
$brand-tertiary:                                #72ce9b !default;
$brand-tertiary-dark:                           #4bb479 !default;
$brand-tertiary-darker:                         #2e9b5e !default;

$brand-neutral:                                 #090909 !default;
$brand-neutral-600:                             #1c1c1c !default;
$brand-neutral-500:                             #3f3f3f !default;
$brand-neutral-400:                             #686868 !default;
$brand-neutral-300:                             #8f8f8f !default;
$brand-neutral-200:                             #b3b3b3 !default;
$brand-neutral-100:                             #dadae5 !default;

$color-success:                                 #97c14a !default;
$color-info:                                    #4b92db !default;
$color-warning:                                 #ffa500 !default;
$color-alert:                                   #dd1717 !default;

$white:                                         #ffffff !default;
$black:                                         #000000 !default;