// ======================================================================================
//  Typography
// ======================================================================================



$base-font-size:                        1rem !default;
$base-line-height:                      1.5rem !default;
$line-height-ratio:                     calc($base-line-height / $base-font-size) !default;


// ==========================================
//  Here we assign short names for the
//  font families
// ==========================================
$font-base:                             Georgia, 'Times New Roman', Times, serif;
$font-opensans:                         'Open Sans', sans-serif;


// ==========================================
//  Here we store variables for the
//  font-face functions and mixins stored
//  in the toolbox
// ==========================================
$font-base-url:                         '../../fonts/';
$font-used:                             ();


// ==========================================
//  Here we store all of the font-faces
// ==========================================
$font-stack: (
  'opensans': (
    'regular': (
      family: $font-opensans,
      weight: normal,
      style: normal,
      display: swap,
      font-face: (
        family: 'Open Sans',
        path: 'OpenSans-Regular',
        formats: (eot woff ttf svg)
      ),
    ),
    'light': (
      family: $font-opensans,
      weight: 300,
      style: normal,
      display: swap,
      font-face: (
        family: 'Open Sans',
        path: 'OpenSans-Light',
        formats: (eot woff ttf svg)
      ),
    ),
    'semi-bold': (
      family: $font-opensans,
      weight: 600,
      style: normal,
      display: swap,
      font-face: (
        family: 'Open Sans',
        path: 'OpenSans-SemiBold',
        formats: (eot woff ttf svg)
      ),
    ),
  ),
  'base': (
    'regular': (
      family: $font-base,
      weight: normal,
      style: normal
    ),
  ),
);
